<?xml version="1.0" encoding="UTF-8"?>

<!-- Global Defines -->
<?define ProductName = "Crayon Code Snippet Plugin for Windows Live Writer" ?>
<?define SetupTitle = "Crayon Code Plugin for Live Writer - DotCastle - " ?>
<?define ProductVersion = "1.0.0" ?>
<?define ProductVersionPreReleaseFlag = "0" ?>
<?define UpgradeCode = "2C651C0E-991A-4529-B18E-E287EEF72693" ?>
<?define ProductDescription = "Crayon Code Snippet Plug-in for Windows Live Writer from DotCastle" ?>
<?define ProductKeywords = "Crayon, Syntax Highlighter, Windows Live Writer, Live Writer, DotCastle" ?>
<?define DocumentationUrl = "http://www.dotcastle.com/blog/default/tools-plug-ins/crayon-syntax-highlighter-plugin-for-windows-live-writer" ?>
<?define Company = "DotCastle" ?>
<?define PluginRegistryName = "DC.Crayon.Wlw" ?>
<?define ManufacturerName = "DotCastle TechnoSolutions Private Limited" ?>
<?define PackageComments = "DotCastle is a registered trademark of DotCastle TechnoSolutions Private Limited, INDIA" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
	 xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product Id="*"
			 Name="$(var.SetupTitle)" Version="$(var.ProductVersion)"
			 Language="1033" Codepage="1252" Manufacturer="$(var.ManufacturerName)"
			 UpgradeCode="$(var.UpgradeCode)">
		<!-- Package & Upgrade Info -->
		<Package Id="*" Keywords="$(var.ProductKeywords)"
				 Description="$(var.ProductDescription)"
				 Manufacturer="$(var.ManufacturerName)"
				 Comments="$(var.PackageComments)"
				 InstallerVersion="400" Compressed="yes" InstallScope="perMachine" SummaryCodepage="1252" />
		
		<MajorUpgrade AllowDowngrades="no" AllowSameVersionUpgrades="yes" IgnoreRemoveFailure="yes"
					  DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />
		
		<Upgrade Id="$(var.UpgradeCode)">
			<!-- Detect any newer version of this product -->
			<UpgradeVersion Minimum="$(var.ProductVersion)"
							IncludeMinimum="no" OnlyDetect="yes"
							Language="1033" Property="NEWVERSIONFOUND" />
			
			<!-- Detect and remove any older version of this product -->
			<UpgradeVersion Maximum="$(var.ProductVersion)"
							IncludeMaximum="yes" OnlyDetect="no"
							Language="1033" Property="OLDVERSIONFOUND"/>
		</Upgrade>
		
		<!-- License -->
		<WixVariable Id="WixUILicenseRtf" Value="$(var.DC.Crayon.Wlw.TargetDir)\License.rtf" />
		
		<!-- Media -->
		<Media Id="1" Cabinet="Setup.cab" CompressionLevel="high" EmbedCab="yes" />

		<!-- Feature -->
		<Feature Id="DefaultFeature" Title="Primary Feature" AllowAdvertise="no" Absent="disallow"
				 Description="Includes all program features">
			<ComponentRef Id="ProductComponent" />
			<ComponentRef Id="StartMenuShortcuts" />
		</Feature>

		<!-- Ui -->
		<Property Id="WIXUI_INSTALLDIR" Value="PRODUCTDIR" />
		<UIRef Id="WixUI_InstallDir" />
	</Product>

	<!-- Windows Live Writer Lookup & related launch conditions -->
	<!--
		Beta 3 =>		HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows Live\Writer\InstallDir
		Pre Beta 3 =>	HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows Live Writer\InstallDir
	-->
	<Fragment>
		<Property Id="WLWINSTALLDIR">
			<RegistrySearch Id="GetWlwInstallDir" Type="raw"
				Root="HKLM" Key="SOFTWARE\Microsoft\Windows Live\Writer" Name="InstallDir" />
		</Property>
		<Property Id="WLWOLDINSTALLDIR">
			<RegistrySearch Id="GetWlwOldInstallDir" Type="raw"
				Root="HKLM" Key="SOFTWARE\Microsoft\Windows Live Writer" Name="InstallDir" />
		</Property>
		<Condition Message="An old version of Windows Live Writer is installed. 
						Please upgrade to the latest version at http://windows.microsoft.com/en-in/windows-live/essentials">
			<![CDATA[ NOT (WLWOLDINSTALLDIR AND (NOT WLWINSTALLDIR)) ]]>
		</Condition>
		<Condition Message="Windows Live Writer is not installed. 
						Please install Windows Live Writer from http://windows.microsoft.com/en-in/windows-live/essentials">
			<![CDATA[ NOT ((NOT WLWINSTALLDIR) AND (NOT WLWOLDINSTALLDIR)) ]]>
		</Condition>
	</Fragment>

	<!-- Installation Directory Structure -->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="COMPANYDIR" Name="$(var.Company)">
					<Directory Id="PRODUCTDIR" Name="$(var.ProductName)">
						<Component Id="ProductComponent" DiskId="1" Guid="9949819B-64BC-4A7B-818D-E2484EC49862">
							<File Id="ProgramBinary" Source="$(var.DC.Crayon.Wlw.TargetPath)" KeyPath="yes">
								<netfx:NativeImage Id="ngen_MainBinary" Platform="32bit" Priority="0" AppBaseDirectory="PRODUCTDIR" />
							</File>
							<File Id="NewtonsoftJson" Source="$(var.DC.Crayon.Wlw.TargetDir)\Newtonsoft.Json.dll">
								<netfx:NativeImage Id="ngen_NewtonsoftJson" Platform="32bit" Priority="0" AppBaseDirectory="PRODUCTDIR" />
							</File>
							<File Id="License" Source="$(var.DC.Crayon.Wlw.TargetDir)\License.rtf" />
							<RegistryValue Root="HKLM" Key="Software\Microsoft\Windows Live\Writer\PluginAssemblies" Name="$(var.PluginRegistryName)" Type="string" Value="[PRODUCTDIR]$(var.DC.Crayon.Wlw.TargetFileName)" />
							<RegistryValue Root="HKLM" Key="Software\$(var.Company)\$(var.PluginRegistryName)" Name="Version" Type="string" Value="$(var.ProductVersion)" />
							<RegistryValue Root="HKLM" Key="Software\$(var.Company)\$(var.PluginRegistryName)" Name="PreRelease" Type="integer" Value="$(var.ProductVersionPreReleaseFlag)" />
							<RemoveFolder Id="RemoveProductDir" Directory="PRODUCTDIR" On="uninstall" />
							<RemoveFolder Id="RemoveCompanyDir" Directory="COMPANYDIR" On="uninstall" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="CompanyMenuDir" Name="$(var.Company)">
					<Directory Id="ProductMenuDir" Name="$(var.ProductName)">
						<Component Id="StartMenuShortcuts" DiskId="1" Guid="6A994BFE-C060-450E-83A5-DCBD2F42571E">
							<RegistryValue KeyPath="yes" Root="HKCU" Key="Software\$(var.Company)\$(var.ProductName)" Type="string" Value="" />
							<util:InternetShortcut Id="WebsiteShortcut" Name="$(var.ProductName) Documentation" Target="$(var.DocumentationUrl)" />
							<Shortcut Id="UninstallProduct" Name="Uninstall $(var.ProductName)" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
							<Shortcut Id="LicenseShortcut" Name="View $(var.ProductName) license"
									  Description="Shows product license" Target="[PRODUCTDIR]License.rtf" />
							<RemoveFolder Id="RemoveProductMenuDir" Directory="ProductMenuDir" On="uninstall" />
							<RemoveFolder Id="RemoveCompanyMenuDir" Directory="CompanyMenuDir" On="uninstall" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>
</Wix>